{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{movie.img.url}}" width="300" height="300">
        </div>
        <div class="col-md-6">
            <h2>{{movie.name}}</h2>
            <h4>{{movie.desc}}</h4>
            <h5>{{movie.year}}</h5>
            <a class="btn btn-warning" href="{% url 'movie_app:update' movie.id %}">UPDATE</a>
            <a class="btn btn-danger" href="{% url 'movie_app:delete' movie.id %}">DELETE</a>
        </div>
    </div>
</div>
{% endblock %}